<link rel="stylesheet" href="../estilo/footer.css" />
<footer>
  <div class="redes">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
  </div>
  <div class="info">
    <h1></h1>
    <div class="cont1">
      <div class="titulo1">
        <h1>GRUPO 3</h1>
      </div>
      <div class="par1">
        <p>Pierde Dinero Poco a Poco</p>
      </div>
    </div>
    <div class="tyc">
      <a href="reglas"> Reglas </a>
      <a href="TC"> Terminos y condiciones </a>
      <a href="nosotros"> Nosotros </a>
    </div>
  </div>
  <div class="cop">
    <p>© Copyright 2021</p>
  </div>
</footer>
