<p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
<div class="text-center text-muted">
  <a href="reglas"> Reglas </a>
  <a href="terminos"> Terminos y condiciones </a>
  <a href="nosotros"> Nosotros </a>
</div>

