<header>
  <div class="cabe">
    <div class="cont">
      <div class="titulo">
        <h1><a href="../">GRUPO 3</a></h1>
      </div>
      <div class="par">
        <p>Pierde Dinero Poco a Poco</p>
      </div>
    </div>
    <div class="login">
      <div class="contlog">
        <div class="init">
          <a href="login"> Iniciar Sesion </a>
        </div>
        <div class="acount">
          <a href="registro"> Abrir cuenta </a>
        </div>
      </div>
    </div>
  </div>
</header>
