
<header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/styles.css" />
  <div class="cabe">
    <div class="cont">
      <div class="tituloP">
        <h1><a href="../">DogeBet</a></h1>
      </div>
      <div class="Moto">
        <p>Pierde Dinero Poco a Poco</p>
      </div>
    </div>
  </div>
    <div class="login">
      <div class="contlog">
        <div class="init">
          <a href="login"> Iniciar Sesion </a>
        </div>
        <div class="acount">
          <a href="registre"> Abrir cuenta </a>
        </div>
      </div>
    </div>

</header>