<body>
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <div class="card-holder">
        <div class="card" id="card">
            <div>
                <img src="/img/Doge.png" width="100" height="100">
                <h1>DogeBet</h1>
                <br>
                <a href="login/admin"> Iniciar Sesion Admin</a>
                <br> 
                <a href="login/cliente"> Iniciar Sesion Cliente </a>
            </div>
        </div>
    <div>
</body>
