<!DOCTYPE html>
<html lang="es">
    
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Proyecto Pagina Apuestas</title>
	<link rel="stylesheet" href="./../public/css/bootstrap.min.css">

</head>

<h1>Juegos</h1>
<button>Guardar</button>
    <div>
      <label class="label-espacio">Categorías:</label>
        <form>
            <select name = "Categorías de juegos">
                <option>--Seleccionar--</option>
                <option>Futbol</option>
                <option>Basket</option>
                <option>Voley</option>
                <option>Tennis</option>
            </select>
        </form>
    </div>
    <div>
        <label class="label-espacio">Nombres:</label>
        <input type="text" name="nombre"  class="form-control" placeholder="Nombre del juego">
    </div>

    <div>
        <label class="label-espacio">ID:</label>
        
        
    </div>
</body>
</html>