<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../estilo/estilo-registro.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div class="cuenta">
      <div class="forma-triangulo"></div>
      <h2 class="cuenta-header">Ingresar cuenta</h2>
      <form class="cuenta-contenedor" action="autent" method="post">
        <p>
          <input
            id="form-email"
            name="email"
            type="email"
            placeholder="Correo Electrónico"
          />
        </p>
        <p>
          <input
            id="form-password"
            name="password"
            type="password"
            placeholder="Contraseña"
          />
        </p>
        <p><input type="submit" value="Ingresar" /></p>
        <p><input type="submit" value="Olvide contraseña" /></p>
      </form>
      
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
