<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Pagina Apuestas</title>
    <link rel="stylesheet" href="./../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilo-registro.css" />
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <div class="cuenta box">
      <div class="forma-triangulo"></div>
      <h2 class="cuenta-header">Ingresar cuenta</h2>
      <form class="cuenta-contenedor" action="autent" method="post">
        <p>
          <input
            id="form-email"
            name="email"
            type="email"
            placeholder="Correo Electrónico"
          />
        </p>
        <p>
          <input
            id="form-password"
            name="password"
            type="password"
            placeholder="Contraseña"
          />
        </p>
        <p><input type="submit" value="Ingresar" /></p>
        <p><input type="submit" value="Olvide contraseña" /></p>
      </form>
    </div>
    
  </body>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
</html>