<span onclick="openNav()">&#9776;</span>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="partidas">Partidas</a>
  <a href="apuestas">Hoja de Apuestas</a>
  <a href="#">Historial</a>
  <a href="logout">Cerrar Sesión</a>
</div>
<link rel="stylesheet" href="../estilo/func.css" />
<script src="../funciones/func.js"></script>