
<div class="col-xl-12">
    <div class="ui-g-12 content">
        <div class="container">
            <h1>Nosotros</h1>
        </div>
            <div class="col detalle">
                <div class="label-espacio">
                    <div class="label-espacio">
                        <label class="label-espacio">Integrantes:</label>
                    </div>
                    <div class="label-espacio">
                        <label class="label-espacio">Andrea Leiva:</label>
                        <img src="'../images/andrea.png" style="width: 160px;height: 160px;">

                        <label class="label-espacio">Mario Salazar:</label>
                        <img src="'../images/mario.png" style="width: 160px;height: 160px;">

                        <label class="label-espacio">Jemima Romero:</label>
                        <img src="'../images/jemima.png" style="width: 160px;height: 160px;">
                    </div>
                    <div class="label-espacio">
                        <label class="label-espacio">Walter Parra:</label>
                        <img src="'../images/walter.png" style="width: 160px;height: 160px;">

                        <label class="label-espacio">Daniel Villanueva:</label>
                        <img src="'../images/daniel.png" style="width: 160px;height: 160px;">
                    </div>

                <button>Cerrar<span>&times;</span></button>
            </div>
        </div>
    </div>
</div>