<h1>Reglamento de Juegos</h1>

<div>
    1.Cliente: Persona natural  mayor a 18 años que realiza su apuesta adhiriendose a los terminos y condiciones del Reglamento 
    de Juego.
    2.Ticket: Documento generado por Apuesta Total que incluye las condiciones de apuesta del cliente.
    3.Cuenta Web: Acceso individual generado al registrarse en la Página Web de Apuesta Total, que contiene toda la información
    del cliente y permite realizar todas las transacciones disponibles. 
</div>

<button>Regresar</button>