<h1>Terminos y Condiciones</h1>

<div>
 Sin al previa autorización por escrito del proveedor, los Usuarios no están autorizados a copiar, modificar, alterar , distribuir,
 transmitir , mostrar, reproducir , transferir, cargar, descargar o de otra
 manera utilizar o alterar cualquiera de los contenidos que ofrecemos.
</div>

<div>
    El uso de la marca registrada y marcas relacionadas esta prohibido. Todos los derechos reservados.
</div>

<div>
    Cualquier incumplimiento de esta clausula puede ser equivalente a una violacion de los derechos de propiedad intelectual.
</div>

<button>Regresar</button>