
.card{
    /* other default style */
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
  }

.card div{
    grid-row: 2/3;
  }

@media (max-width: 768px){
    .card-holder{
      grid-template-columns: 1fr 6fr 1fr;
    }
    .card{
      padding: 20px;
    }
  }